{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h5 class="mb-3"><a href="{% url 'basket' %}" class="text-body"><i
              class="fas fa-long-arrow-alt-left me-2"></i>back to basket</a>
  </h5>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2 col-lg-2">
    </div>
    <div class="col-sm-8 col-lg-8">
      <div class="border">
        <div class="card-header text-center">

          <h3 class="page-title">Checkout Items</h3>

        </div>
        <div class="card-body product">
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" class="form-control" value="{{ user.first_name }}"/>
                  <label class="form-label">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" class="form-control" value="{{ user.last_name }}"/>
                  <label class="form-label" >Last name</label>
                </div>
              </div>
            </div>

            <div class="container border pt-3 mb-3">
              <h5 class="text-center" >Delivery Information</h5>
              <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.company }}"/>
              <label class="form-label">Company name</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.street_address1 }}"/>
              <label class="form-label">Address Line 1</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.street_address2 }}"/>
              <label class="form-label">Address Line 2</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.town_or_city }}"/>
              <label class="form-label">Town or City</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.county }}"/>
              <label class="form-label">County, province or state</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.country }}"/>
              <label class="form-label">Country</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" class="form-control" value="{{ customer_info.postcode }}"/>
              <label class="form-label">Post code</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control" value="{{ user.email }}" />
              <label class="form-label">Email</label>
            </div>

            <!-- Number input -->
            <div class="form-outline mb-4">
              <input type="number" class="form-control" value="{{ customer_info.phone_number }}"/>
              <label class="form-label">Phone</label>
            </div>
            </div>
            
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" rows="4" placeholder="{{ customer_info.info }}"></textarea>
              <label class="form-label">Additional information</label>
            </div>

          <div class="submit-button text-right mt-5 mb-2">                    
						<button id="submit-button" class="btn btn-black rounded-0">
              <div class="container">
                <button type="submit" id="checkout-button" class="btn btn-info btn-lg btn-block">Pay</button>     
              </div>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<strong>Your card will be charged</strong>
						</p>
					</div>

          </form>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total amount</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span><strong>£{{ basket.get_basket_total|floatformat:2 }}</strong></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2">
      </div>
    </div>
  </div>
  {% endblock %}