{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">    
    <h3>Our Products</h3><br>
    <div class="row">
      <div class="col-sm-4 home-banner">
        <img src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656371097/pexels-anna-pou-8330249_i436eh.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Tea</p>
      </div>
      <div class="col-sm-4 home-banner"> 
        <img src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656371093/pexels-charlotte-may-5946632_aabtnn.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Teapots, Sets and Cups</p>    
      </div>
      <div class="col-sm-4 home-banner"> 
        <img src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656371093/pexels-charlotte-may-5946813_ix8gwb.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Teaware</p>    
      </div>
    </div>
  </div>
{% endblock %}