{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="container sliding-container text-center">
  <h3 class="page-title">Our Products</h3>
  <div class="row">
    <div class="col-sm-4 home-banner content">
      <a href="{% url 'tea-store' %}">
        <div class="content-overlay"></div>
      <img class="content-image" src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656375214/pexels-yan-krukov-5480235_qhb8tg.jpg"
        class="img-responsive" style="width:100%" alt="Image">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Tea</h3>
        </div>
      </a>
    </div>
    
    <a href="{% url 'pots-and-sets-store' %}">
      <div class="col-sm-4 home-banner">
        <img src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656375851/pexels-cottonbro-8037635_jjf3sg.jpg"
          class="img-responsive" style="width:100%" alt="Image">
        <p>Teapots, Sets and Cups</p>
      </div>
    </a>
    <a href="{% url 'pots-and-sets-store' %}">
      <div class="col-sm-4 home-banner">
        <img src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656372761/pexels-cup-of-couple-8474055_xysnnr.jpg"
          class="img-responsive" style="width:100%" alt="Image">
        <p>Teaware</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}