{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<h3 class="page-title">Our Tea</h3>

<div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656373211/pexels-valeria-boltneva-11213971_fmxukb.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tea 1</h5>
      <p class="card-text">Here is a description about the kind of tea this is, where it comes from</p>
      <a href="#" class="btn btn-primary">Add to Basket</a>
      <p class="d-inline pl-5">£10</p>
    </div>
</div>

<div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/ddxxrzq7g/image/upload/v1656373086/pexels-eva-elijas-6087518_u1ddtb.jpg">
    <div class="card-body">
      <h5 class="card-title">Tea 2</h5>
      <p class="card-text">Here is a description about the kind of tea this is, where it comes from</p>
      <a href="#" class="btn btn-primary">Add to Basket</a>
      <p class="d-inline pl-5">£10</p>
    </div>
</div
{% endblock %}