.gradient-custom {
    /* fallback for older browsers */
    background: rgb(107, 144, 128);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(204, 227, 222, 1), rgba(234, 244, 244, 1));


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(204, 227, 222, 1), rgba(234, 244, 244, 1))
}

.home-banner {
    padding: 1rem;
}

.home-banner > img {
    max-height: 400px;
    background-position: center;
    object-fit: cover;
}